html, body {
    height: 100%;
} /* use min-height = 100% in element , it takes avaliable height, also in mobile*/


/**********/
body {
    display: grid;
    grid-template-rows: auto 1fr; /* first for the navbar, second for the main. You can use the same logic for the main also*/
}
/**************/

/**** My Choice ***/
/* think subgrid option if your layout complex*/
body {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) min(100% - 2rem, 65ch) minmax(1rem, 1fr);
    gap: 5px;
  }
  
  body > * {
    grid-column: 2 / 3
  }

  .full-width { /**** e.g. for header **/
    grid-column: 1 / -1;
  }
  /**********/

  