.App {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  margin-top: 8rem;
}

.van {
  border: 10px solid red;
  padding: 15px;
  border-radius: 50%;
  width: 100px;
  align-self: center;
}

button {
  padding: 5px 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.engine-on,
.engine-off {
  background-color: green;
  align-self: center;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 800;
  border: 1px solid white;
}

.engine-off {
  background-color: red;
}

.start-engine:hover {
  background-color: rgb(180, 1, 1);
}

p {
  text-align: center;
}

.number {
  font-size: 2rem;
  margin-right: 0.6rem;
}

.function-buttons {
  display: flex;
  gap: 0.5rem;
  align-self: center;
}

.icon {
  width: 10px;
}
